DB_HOST={write yout database host}
DB_PORT={write yout database port}
DB_NAME={write yout database name}
DB_USER={write yout database user}
DB_PASSWORD={write yout database password}

KHLAB_BASE={write khlan base url} 


-- 계정명 : C##KHLAB / 비밀번호 : KHLAB

-- 1) 계정생성
CREATE USER C##KHLAB IDENTIFIED BY KHLAB;
-- 2) 권한부여
GRANT CONNECT, RESOURCE TO C##KHLAB;
-- 3) 테이블 스페이스 설정
ALTER USER C##KHLAB QUOTA UNLIMITED ON USERS;
-- 4) 시퀀스 
GRANT CREATE SEQUENCE TO C##KHLAB;
-- 5) 뷰
GRANT CREATE VIEW TO C##KHLAB;
-- 6) 멀티리얼라이즈드 뷰 : 결과를 미리 저장해두는 뷰 무거운결과를 빨리 조회할 때 사용
GRANT CREATE MATERIALIZED VIEW TO C##KHLAB;
-- 7) 테이블에 별명을 붙이는것 
GRANT CREATE SYNONYM TO C##KHLAB;
